* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Poppins', sans-serif;
    --text-color: #E1E1E6;

    --button-bg-color: hsla(195, 91%, 25%, 1);
    --table-color: hsla(194, 72%, 13%, 1);
    --primary-color: hsla(191, 65%, 7%, 1);
    --secondary-color: hsla(195, 61%, 6%, 0.5);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: black;
}

body * {
    font-family: var(--ff-primary);
}

.hide {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    padding: 2rem;
    max-width: 112rem;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 7rem 0;
}

.search {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.search input {
    background: var(--primary-color);
    height: 4.8rem;
    width: 46.2rem;
    border: none;
    border-radius: .5rem;
    padding: 1.6rem;
    color: var(--text-color);
}

.search button {
    background: var(--button-bg-color);
    border-radius: .5rem;
    height: 4.8rem;
    border: none;
    padding: 1.2rem 3.2rem;

    display: flex;
    align-items: center;
    gap: .8rem;

    color: #FFF;
    font-size: 1.4rem;
    font-weight: 700;

    cursor: pointer;
    transition: background .3s;
}

.search button:hover {
    background: hsla(0, 0%, 100%, 1);
    color: var(--button-bg-color);
}

.search button:hover svg path {
    fill: var(--button-bg-color);
}

.table {
    border: 1px solid hsla(191, 31%, 42%, 1);
    border-radius: .4rem;

    max-height: 68.8rem;

    overflow: hidden;
    overflow-y: overlay;
}

.table::-webkit-scrollbar {
    width: 2.2rem;
}

.table::-webkit-scrollbar-thumb {
    background-color: hsla(191, 31%, 42%, 1);
;
    border-radius: 1rem;

    border: .8rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

table {
    width: 100%;

    border-collapse: collapse;
}

table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

table th {
    background: var(--table-color);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table tr:nth-child(even) {
    background: var(--primary-color);
}

table tr:nth-child(odd) {
    background: var(--secondary-color);
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;

    color: red;
    
    cursor: pointer;
}

.no-favorite {
    background: var(--secondary-color);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    padding: 21rem 0;
}

.no-favorite svg {
    width: 13.2rem;
    height: 12.5rem;
}

.no-favorite h2 {
    font-size: 4rem;
    line-height: 2.5rem;
    color: hsla(189, 4%, 32%, 1);
}